@import '../../utils/mediaqueries';


.container {
    position: absolute;
    left: 1%; // Postavi liniju uz levu ivicu ekrana
    top: 0%;
    transform: translateY(-50%); // Centriraj vertikalno
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    @media #{$phone} {
    visibility: hidden;
    
    }

}

.line {
    width: 2px;
    height: 100vh;
    background-color: white;
}

.logos {
    display: flex;
    flex-direction: column; // Logoi ispod linije
    gap: 15px;
    align-items: center;

    img {
        width: 25px;
        height: auto;
    }
}

