@use '../../utils/mediaqueries.scss' as *;

.button {
    width: 300px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; // razmak između teksta i ikone
    padding: 0.5rem 1rem;
    font-family: jersey;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    background-color: black;
    border: 2px solid #BA84CB;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    svg {
        vertical-align: middle; // dodatna osiguranost da se centriranje poklopi
    }

    &:hover {
        background-color: #BA84CB;
    }

    @media #{$phone} {
        display: block;
        margin: 0 auto;
    }
}
