@use '../../utils/mediaqueries' as *;

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;

  @media #{$phone} {
    flex-direction: column;
    height: auto;
  }
}

.container-1 {
  width: 65vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  @media #{$phone} {
    width: 100vw;
    padding: 1rem;
  }
}

.text-container {
  font-family: 'jersey';
  font-size: 1.75rem;
  color: white;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 3%;
  overflow-y: auto;

  @media #{$phone} {
    width: 90vw;
    height: auto;
    max-width: none;
    padding: 1rem;
  }
}

.title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 2.75rem;
  white-space: nowrap;
  @media #{$phone}{
    font-size:3.2rem;
    text-decoration:underline #BA84CB;
  }
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #BA84CB;
  max-width: 200px;
  @media #{$phone} {
    display:none;
  }
}

.container-2 {
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media #{$phone} {
    width: 90vw;
    margin-top: 2rem;
    justify-content: center;
  }
}

.contact-box {
  font-family: 'jersey';
  color: white;
  outline: 1px solid white;
  width: 100%;
  max-width: 320px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding-left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  h2 {
    font-size: 2rem;
  }

  .contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }

  p {
    font-size: 1.5rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    height: 25px;
    width: auto;
    flex-shrink: 0;
  }

  @media #{$phone} {
    width: 100%;
    height: auto;
    overflow: auto;
    margin-bottom:5%;
  }
}

.circles {
  height: 15%;
  position: absolute;
  bottom: 30%;
  left: 0;

  @media #{$phone} {
    display: none;
  }
}

