@import '../../utils/mediaqueries';

.container {
    font-family: 'jersey';
    background-color: black;
    color: white;
    font-size: 2rem;
    width: 100%;
    height: 10vh; 
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;

    .link {
        text-decoration: none;
        color: white;
        display: inline-block; /* Omogućava pravilno skaliranje */
        transition: transform 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.2); /* Povećava tekst za 20% */
        }
    }

    @media #{$phone} {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.5rem;

        margin-top: 2%;
        gap: 10px;
        padding-right: 0;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, auto);
        text-align: center;
        grid-template-rows: auto auto;

        /* Dodajemo stilove za drugi red */
        p:nth-child(n+4) {
            grid-column: span 1; /* Svaka stavka u drugom redu zauzima 3 kolone */
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }
    
}
