.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-family: 'jersey';
}
a {
    display: inline-block;  /* Omogućava transformacije */
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in;

    &:hover {
        color:#BA84CB;
    }
}
